@font-face {
  font-family: "SedgwickAve-Regular";
  src: url("/fonts/SedgwickAve-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: SedgwickAve-Regular;
  font-style: inherit;
  font-size: 100%;
}

body {
  height: 100%;
}

#__next{
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Barlow",sans-serif;
  height: 100vh;
}